{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>

  
{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
    </tr>
  {% endfor %}
</table>

{% include 'footer.html' %}

</html>
</body>

{% comment %}

Examples

{% if x == 0 and day!= 'Monday' %}
  <h1>Glad its not Monday!</h1>
{% endif %}

'empty' keyword can be used for emtpy table conditions

{% for x in members %}
  do something
{% empty %}
  <h1>No members</h1>
{% endfor %}

{% endcomment %}